<div class="main">
  <p><b>{{ "TOURNAMENT.TOURNAMENTNAME" | translate }} </b> {{ this.tournament.tournamentName }}</p>
  <p><b>{{ "TOURNAMENT.DATE" | translate }} </b>{{ this.tournament.date }}</p>
  <p><b>{{ "TOURNAMENT.CITY" | translate }} </b> {{ this.tournament.city }}</p>
  <p><b>{{ "TOURNAMENT.COUNTRY" | translate }} </b>{{ this.tournament.country }}</p>
  <p><b>{{ "TOURNAMENT.SPORTFACILITY" | translate }} </b> {{ this.tournament.sportFacility }}</p>
  <p><b>{{ "TOURNAMENT.CATEGORY" | translate }} </b> {{ this.tournament.category }}</p>
  <p><b>{{ "TOURNAMENT.PRIZE" | translate }} </b> {{ this.tournament.prize }}</p>
</div>
