<div *ngIf="this.tournaments">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="tournamentId">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.tournamentId}} </td>
    </ng-container>

    <ng-container matColumnDef="tournamentName">
      <th mat-header-cell *matHeaderCellDef> tournamentName </th>
      <td mat-cell *matCellDef="let element"> {{element.tournamentName}} </td>
    </ng-container>
    
    <ng-container  matColumnDef="addMatch">
      <th mat-header-cell *matHeaderCellDef> Add match </th>
      <td mat-cell *matCellDef="let element"> <button (click)="goToMatch(element.tournamentId)"  mat-raised-button color="primary"
          >
          Add match
        </button> </td>
    </ng-container>

    <ng-container  matColumnDef="join">
      <th mat-header-cell *matHeaderCellDef> Join </th>
      <td mat-cell *matCellDef="let element"> <button (click)="join(element.tournamentId)"  mat-raised-button color="primary"
          >
          Join
        </button> </td>
    </ng-container>

    <ng-container  matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element"> <button [disabled]="!this.isAdmin" mat-raised-button color="primary"
          (click)="editTournament(element.tournamentId)">
          Edit
        </button> </td>
    </ng-container>

    <ng-container  matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element"> <button  [disabled]="!this.isAdmin" mat-raised-button color="primary"
          (click)="deleteTournament(element.tournamentId)">
          Delete
        </button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<!-- <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
