<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="home" (click)="routeToHome()">Squash App</h1>
  <span class="example-spacer"></span>

  <!-- <button mat-raised-button color="primary" (click)="get()">getRestrictedAuthorities</button> -->

  <div class="language">
    <label>
      {{ "HOME.SELECT" | translate }}
      <select #langSelect (change)="translate.use(langSelect.value)">
        <option
          *ngFor="let lang of translate.getLangs()"
          [value]="lang"
          [selected]="lang === translate.currentLang"
          >{{ lang }}</option
        >
      </select>
    </label>
  </div>

  <div *ngIf="this.isLogged">
    <!-- Zalogowany jako {{ this.tokenStorage.username }} -->
    <button mat-raised-button color="primary" (click)="logout()">
      {{ "HOME.LOGOUT" | translate }}
    </button>
  </div>
</mat-toolbar>

<div fxLayout="row">
  <mat-drawer-container>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="menu">
        <mat-nav-list>
          <div *ngIf="!this.isLogged">
            <mat-list-item routerLink="/login"
              >{{ "LOGIN.LOGIN" | translate }}
            </mat-list-item>
          </div>

          <div *ngIf="!this.isLogged">
            <mat-list-item routerLink="/register">{{
              "LOGIN.REGISTER" | translate
            }}</mat-list-item>
          </div>

          <div *ngIf="this.isLogged">
            <mat-list-item routerLink="/addTournament">{{
              "HOME.ADDTOURNAMENT" | translate
            }}</mat-list-item>
          </div>
          <div *ngIf="this.isLogged">
            <mat-list-item routerLink="/tournamentList">{{
              "HOME.LISTOFTOURNAMENT" | translate
            }}</mat-list-item>
          </div>
          <div *ngIf="this.isLogged">
            <mat-list-item routerLink="/myTournaments">{{
              "HOME.MYTOURNAMENTS" | translate
            }}</mat-list-item>
          </div>
        </mat-nav-list>
      </div>
    </mat-drawer>

    <mat-drawer-content>
      <div class="routerClass">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
