<div class="container">
  <b>{{"ADDSET.NUMBEROFSET" | translate}}{{ this.tournament.numOfSets }} </b>
  <div class="form">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="firstPerson">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ADDSET.FIRSTPERSONRESULT" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.firstPerson }}
        </td>
      </ng-container>

      <ng-container matColumnDef="secondPerson">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ADDSET.SECONDPERSONRESULT" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.secondPerson }}
        </td>
      </ng-container>

      <ng-container matColumnDef="winner">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ADDSET.WINNER" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            (click)="goToUserProfile(element.winner.userName)"
            mat-stroked-button
            color="primary"
          >
            {{ element.winner.userName }}
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="addMatchForm">
    <p>
      <mat-form-field appearance="standard">
        <mat-label>{{ "ADDSET.FIRSTPERSONRESULT" | translate }}</mat-label>
        <input
          [(ngModel)]="this.matchSet.firstPerson"
          matInput
          placeholder="First person result"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label> {{ "ADDSET.SECONDPERSONRESULT" | translate }} </mat-label>
        <input [(ngModel)]="this.matchSet.secondPerson" matInput />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label> {{ "ADDSET.WINNER" | translate }}</mat-label>
        <mat-select [(ngModel)]="this.username">
          <mat-option
            *ngFor="let user of this.tournament.participants"
            [value]="user.userName"
          >
            {{ user.userName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <button
      [disabled]="!this.active"
      class="addSet"
      (click)="addSet()"
      mat-raised-button
      color="primary"
    >
      {{ "ADDSET.ADDSET" | translate }}
    </button>
  </div>
</div>
