<div class="main">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>{{ "REGISTER.USERNAME" | translate }} </mat-label>
      <input [(ngModel)]="this.user.userName" matInput placeholder="Username" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>{{ "REGISTER.PASSWORD" | translate }} </mat-label>
      <input type="password" [(ngModel)]="this.user.password" matInput placeholder="Password" />
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>{{ "REGISTER.REPEATEDPASSWORD" | translate }} </mat-label>
      <input type="password" [(ngModel)]="this.repeatedPassword" matInput placeholder="Repeated password" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="standard">
      <mat-label>{{ "REGISTER.NAME" | translate }} </mat-label>
      <input [(ngModel)]="this.user.name" matInput placeholder="Name" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>{{ "REGISTER.SURNAME" | translate }} </mat-label>
      <input [(ngModel)]="this.user.surname" matInput placeholder="Surname" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="standard">
      <mat-label>{{ "REGISTER.AGE" | translate }} </mat-label>
      <input [(ngModel)]="this.user.age" matInput placeholder="Age" />
    </mat-form-field>
  </p>
  <p>
    <button mat-raised-button color="primary" (click)="register()">
      {{ "REGISTER.REGISTER" | translate }} 
    </button>
  </p>
</div>
