<div class="container">
  <div class="user">
    <br />
    <b> {{ "USER.USER" | translate }} </b>
    <li>
      {{ "USER.USERNAME" | translate }} <b>{{ user.userName }}</b>
    </li>

    <li>
      {{ "USER.ROLE" | translate }}<b>{{ user.roles }}</b>
    </li>

    <li>
      {{ "USER.NAME" | translate }} <b>{{ user.name }}</b>
    </li>

    <li>
      {{ "USER.SURNAME" | translate }}<b> {{ user.surname }}</b>
    </li>

    <li>
      {{ "USER.AGE" | translate }} <b>{{ user.age }}</b>
    </li>
  </div>

  <div class="tournaments">
    <br />
    <b> {{ "USER.TOURNAMENTS" | translate }}</b>
    <li *ngFor="let tournament of tournaments; index as i">
      {{ "USER.TOURNAMENT.NAME" | translate }}
      <b>{{ tournament.tournamentName }}</b>
      {{ "USER.TOURNAMENT.DATE" | translate }}

      <b>{{ tournament.date }}</b>
      <button
        (click)="goToTournament(tournament.tournamentId)"
        mat-raised-button
        color="primary"
      >
        {{ "USER.VIEW" | translate }}
      </button>
    </li>
  </div>
</div>
