<div class="main">
  <div *ngIf="!this.isLogged">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>   {{ 'LOGIN.USERNAME' | translate }} </mat-label>
        <input
          [(ngModel)]="this.loginForm.userName"
          matInput
          placeholder="Username"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>{{ 'LOGIN.PASSWORD' | translate }} </mat-label>
        <input
          type="password"
          [(ngModel)]="this.loginForm.password"
          matInput
          placeholder="Password"
        />
      </mat-form-field>
    </p>
    <p>
      <button mat-raised-button color="primary" (click)="login()">{{ 'LOGIN.LOGIN' | translate }} </button>
    </p>
  </div>

  <h1 *ngIf="this.isLogged">
    {{ 'LOGIN.WELCOME' | translate }}
  </h1>
</div>
