<div *ngIf="this.tournament">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="firstPerson">
      <th mat-header-cell *matHeaderCellDef>
        {{ "ADDMATCH.FIRSTPERSON" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="goToUserProfile(element.firstPerson.userName)"
          mat-stroked-button
          color="primary"
        >
          {{ element.firstPerson.userName }}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="secondPerson">
      <th mat-header-cell *matHeaderCellDef>
        {{ "ADDMATCH.SECONDPERSON" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="goToUserProfile(element.secondPerson.userName)"
          mat-stroked-button
          color="primary"
        >
          {{ element.secondPerson.userName }}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="round">
      <th mat-header-cell *matHeaderCellDef>
        {{ "ADDMATCH.ROUND" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.round }}</td>
    </ng-container>

    <ng-container matColumnDef="addSet">
      <th mat-header-cell *matHeaderCellDef>
        {{ "ADDMATCH.ADDSET" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="goToSets(element.matchId)"
          mat-raised-button
          color="primary"
        >
          {{ "ADDMATCH.ADDSET" | translate }}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="container">
    <div class="addMatchForm">
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>{{ "ADDMATCH.DATE" | translate }}</mat-label>

          <input
            [(ngModel)]="this.temporarMatch.date"
            matInput
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>{{ "ADDMATCH.ROUND" | translate }}</mat-label>
          <input [(ngModel)]="this.temporarMatch.round" matInput />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>{{ "ADDMATCH.FIRSTPERSON" | translate }}</mat-label>
          <mat-select [(ngModel)]="this.firstPersonName">
            <mat-option
              *ngFor="let user of this.tournament.participants"
              [value]="user.userName"
            >
              {{ user.userName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label> {{ "ADDMATCH.SECONDPERSON" | translate }} </mat-label>
          <mat-select [(ngModel)]="this.secondPersonName">
            <mat-option
              *ngFor="let user of this.tournament.participants"
              [value]="user.userName"
            >
              {{ user.userName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <button
        class="addMatch"
        (click)="addMatch()"
        mat-raised-button
        color="primary"
      >
        {{ "ADDMATCH.ADDMATCH" | translate }}
      </button>
    </div>

    <div class="addComment">
      <mat-form-field>
        <mat-label> {{ "ADDMATCH.COMMENT" | translate }} </mat-label>
        <textarea
          [(ngModel)]="this.comment.content"
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
        ></textarea>
      </mat-form-field>

      <button
        class="addCommentButton"
        (click)="addCommentButton()"
        mat-raised-button
        color="primary"
      >
        {{ "ADDMATCH.ADDCOMMENT" | translate }}
      </button>
    </div>

    <div class="comment">
      <div
        *ngFor="let comment of this.tournament.comments; index as i"
        class="comments"
      >
        <div *ngIf="i <= 5">
          <b>
            {{ "ADDMATCH.COMMENT" | translate }}
          </b>
          {{ comment.content }}
          <br />
          <b>
            {{ "ADDMATCH.AUTHOR" | translate }}
          </b>
          {{ comment.author.userName }}
          <br />
          <b>
            {{ "ADDMATCH.DATE" | translate }}
          </b>
          {{ comment.date }}
        </div>
      </div>
    </div>
  </div>
</div>
